@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thumb {
    background-color: #1a202c; /* Darker thumb color */
    border-radius: 9999px; /* Fully rounded corners */
  }

.scrollbar-track {
    background-color: #edf2f7; /* Lighter track color */
}
